@model funcionadenovo.Models.Tabela

@{
    ViewData["Title"] = "Index";
}

<script>
    function testeSimples(variavel) {
        alert("nao interessa o nome da variavel: " + variavel);
    }
    @{ 
        @:testeSimples('@Model.Pessoas.ElementAt(1).naosei')
    }
    testeSimples('@Model.Pessoas.ElementAt(1).naosei');
</script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pessoas.ElementAt(1).naosei)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pessoas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.naosei)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
        @foreach (var item in Model.Produtos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    <a asp-action="Edit2" asp-route-id="@item.codigo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.codigo">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.codigo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
